<!-- Végigiterálunk a blogposts objecten, és megjelenítjük a fieldjeit -->
{{#each blogposts}}
<div class="card">
    <div class="card-header">
        Kategória: {{ name }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        {{ description }}
    </div>
    <div class="card-footer text-muted">
        {{ created_at }}
    </div>
</div>
{{/each}}