<div class="container">
    <h1 class="text-center">Test page</h1>
    <ul class="list-group">
        {{#each names}}
        <li class="list-group-item">Id: {{ id }}, Name: {{ name }}</li>
        {{/each}}
    </ul>
</div>